body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.box {
    position: absolute;
    bottom: 500px;
    left: 300px;
    height: 92px;
    width: 70px;
    box-sizing: border-box;
    background-color: white;
    background: url("images/p2_spritesheet.png");
    background-position: 0px 0px;
}

.box2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 5000px;
    margin: 0;
    padding: 0;
    background-image: url("images/grassMid.png");
}

.box3 {
    position: absolute;
    bottom: 70px;
    left: 500px;
    height: 70px;
    width: 500px;
    background-image: url("images/snowMid.png");
}

.box4 {
    position: absolute;
    bottom: 300px;
    left: 1200px;
    height: 70px;
    width: 300px;
    background-image: url("images/grassMid.png");
}
.debug {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 100;
    color: white;
}